.bg{
background-image: url("bg.jpg");
height: 100vh;
width: 100%;
background-repeat: no-repeat;
background-size:cover;
overflow-x: hidden;
overflow-y: hidden;
}

body{ 
overflow: hidden;
background-color: lightblue;
}
p{
    text-align: center;
}

.center{
    text-align: center;
}

.form-container{
    padding: 30px;
    padding-top: 10px;
    margin-top: 10vh;
    -webkit-box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
    box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
}

.create-button{
    border: none;
    background-color: inherit;
    color: darkblue;
}

.create-btn:hover{
    color: dodgerblue;
}

.modal-backdrop{
    z-index: 0 !important;
}

.jumbotron{
    padding: 20px;
    width: 75%;
    margin: auto;
    border-radius: 1%;
}

.table-bordered{
    margin-bottom: 0px;
}

.airline-list li:hover{
    background-color: lightgrey;
    color: black;
}

.airline-list{
    height: 620px;
    overflow-y: scroll;
    border: 1px solid lightgrey;
}
